In [2]:
import pandas as pd
import numpy as np

# import matplotlib as mpl
# import matplotlib.pyplot as plt
# %matplotlib inline

# # 한글폰트 사용시 그래프에서 마이너스 폰트 깨지는 문제에 대한 대처
# mpl.rcParams['axes.unicode_minus'] = False

In [3]:
raw_test = pd.read_csv('GunPoint_TEST.txt', sep='\n', header=None)

In [4]:
data_count = len(raw_test[0])
data_count

150

In [5]:
time_len = len(raw_test[0][0].split())
time_len

151

In [6]:
columns = [i for i in range(time_len)]

In [7]:
df = pd.DataFrame(columns=columns)

In [8]:
for i in range(data_count):
    df.loc[i] = raw_test[0][i].split()

In [9]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,141,142,143,144,145,146,147,148,149,150
0,1.0000000e+00,-1.1250133e+00,-1.1313383e+00,-1.1382884e+00,-1.1466873e+00,-1.1386387e+00,-1.1414312e+00,-1.1436908e+00,-1.1443789e+00,-1.1549123e+00,...,-1.2055721e+00,-1.2812350e+00,-1.3234204e+00,-1.3457996e+00,-1.3445471e+00,-1.3010980e+00,-1.2659029e+00,-1.2127167e+00,-1.2061778e+00,-1.2184217e+00
1,2.0000000e+00,-6.2695602e-01,-6.2591896e-01,-6.2753797e-01,-6.2632624e-01,-6.2408545e-01,-6.2470754e-01,-6.2500642e-01,-6.2417532e-01,-6.2401803e-01,...,-6.2001948e-01,-6.2150481e-01,-6.2152598e-01,-6.2409104e-01,-6.2398853e-01,-6.2434988e-01,-6.2437622e-01,-6.1947093e-01,-6.1205789e-01,-6.0642232e-01
2,2.0000000e+00,-2.0011630e+00,-1.9995755e+00,-1.9995372e+00,-1.9991963e+00,-1.9990038e+00,-2.0003147e+00,-1.9984249e+00,-2.0006789e+00,-1.9999948e+00,...,3.1279799e-01,2.4221679e-01,1.4571625e-01,1.4012286e-02,-1.5178029e-01,-3.3342703e-01,-5.7743491e-01,-8.1271961e-01,-1.0711473e+00,-1.3233828e+00
3,1.0000000e+00,-1.0045865e+00,-9.9984343e-01,-9.9524996e-01,-9.9201889e-01,-9.9119984e-01,-9.8755556e-01,-9.9647321e-01,-9.9687789e-01,-9.9867287e-01,...,-1.0802448e+00,-1.0601662e+00,-1.0444708e+00,-1.0395276e+00,-1.0406935e+00,-1.0441623e+00,-1.0440583e+00,-1.0449158e+00,-1.0442265e+00,-1.0432617e+00
4,1.0000000e+00,-7.4262544e-01,-7.4377019e-01,-7.4390038e-01,-7.4487322e-01,-7.4474502e-01,-7.4536434e-01,-7.4707751e-01,-7.4661487e-01,-7.4670521e-01,...,-6.9931224e-01,-6.9689702e-01,-6.9405923e-01,-6.8915025e-01,-6.8753430e-01,-6.8279776e-01,-6.8215267e-01,-6.8102951e-01,-6.7051942e-01,-6.5740270e-01

In [10]:
df = df.astype('float64')
df = df.T

In [11]:
df_graph = df.drop([0], axis=0)

In [12]:
# df_graph.plot()

In [13]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,140,141,142,143,144,145,146,147,148,149
0,1.000000,2.000000,2.000000,1.000000,1.000000,2.000000,1.000000,2.000000,2.000000,1.000000,...,2.000000,1.000000,1.000000,2.000000,1.000000,2.000000,1.000000,2.000000,2.000000,1.000000
1,-1.125013,-0.626956,-2.001163,-1.004587,-0.742625,-0.642191,-1.106342,-1.140449,-0.702391,-0.586634,...,-1.407683,-1.353437,-0.704113,-1.847902,-0.602741,-0.580006,-0.728153,-0.738012,-1.265111,-1.427205
2,-1.131338,-0.625919,-1.999575,-0.999843,-0.743770,-0.646566,-1.165646,-1.138248,-0.700847,-0.585691,...,-1.391209,-1.349675,-0.702873,-1.908496,-0.602728,-0.583332,-0.730242,-0.736301,-1.256093,-1.408303
3,-1.138288,-0.627538,-1.999537,-0.995250,-0.743900,-0.651656,-1.252637,-1.134681,-0.699962,-0.582991,...,-1.377523,-1.352382,-0.701821,-1.931031,-0.602367,-0.586108,-0.733560,-0.731226,-1.259421,-1.347118
4,-1.146687,-0.626326,-1.999196,-0.992019,-0.744873,-0.653294,-1.341572,-1.131363,-0.697181,-0.583110,...,-1.372165,-1.349438,-0.701723,-1.932468,-0.603630,-0.589118,-0.734188,-0.728455,-1.256351,-1.291666

In [14]:
df.loc[0,1]

2.0

In [15]:
df_class1 = pd.DataFrame()
df_class2 = pd.DataFrame()
a = 0
b = 0
for i in range(data_count):
    if df.loc[0,i] == 1:
        df_class1[a] = df.loc[1:,i]
        a += 1
    elif df.loc[0,i] == 2:
        df_class2[b] = df.loc[1:,i]
        b += 1
# df.loc[1:,0]

In [16]:
# df_class1.plot()

In [17]:
# df_class2.plot()

In [18]:
data = np.loadtxt('GunPoint_TEST.txt')  #, delimiter = ',')
Y = data[:,0]
X = data[:,1:]

In [19]:
data

array([[ 1.        , -1.1250133 , -1.1313383 , ..., -1.2127167 ,
        -1.2061778 , -1.2184217 ],
       [ 2.        , -0.62695602, -0.62591896, ..., -0.61947093,
        -0.61205789, -0.60642232],
       [ 2.        , -2.001163  , -1.9995755 , ..., -0.81271961,
        -1.0711473 , -1.3233828 ],
       ...,
       [ 2.        , -0.73801219, -0.73630065, ..., -0.60964613,
        -0.60861649, -0.61217658],
       [ 2.        , -1.2651108 , -1.2560929 , ..., -1.1999699 ,
        -1.1933735 , -1.1928348 ],
       [ 1.        , -1.4272055 , -1.4083032 , ..., -1.1034614 ,
        -1.1531193 , -1.222043  ]])

In [25]:
# 데이터 갯수
len(data)

150

In [26]:
# time 길이 + 1 (class)
len(data[0])

151

In [30]:
data[:,1:]

array([[-1.1250133 , -1.1313383 , -1.1382884 , ..., -1.2127167 ,
        -1.2061778 , -1.2184217 ],
       [-0.62695602, -0.62591896, -0.62753797, ..., -0.61947093,
        -0.61205789, -0.60642232],
       [-2.001163  , -1.9995755 , -1.9995372 , ..., -0.81271961,
        -1.0711473 , -1.3233828 ],
       ...,
       [-0.73801219, -0.73630065, -0.73122561, ..., -0.60964613,
        -0.60861649, -0.61217658],
       [-1.2651108 , -1.2560929 , -1.2594215 , ..., -1.1999699 ,
        -1.1933735 , -1.1928348 ],
       [-1.4272055 , -1.4083032 , -1.3471178 , ..., -1.1034614 ,
        -1.1531193 , -1.222043  ]])