In [1]:
import pandas as pd
import numpy as np

In [2]:
raw_test = pd.read_csv('GunPoint_TEST.txt', sep='\n', header=None)

In [3]:
data_count = len(raw_test[0])
data_count

150

In [4]:
time_len = len(raw_test[0][0].split())
time_len

151

In [5]:
columns = [i for i in range(time_len)]

In [6]:
df = pd.DataFrame(columns=columns)

In [7]:
for i in range(data_count):
    df.loc[i] = raw_test[0][i].split()

In [8]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,141,142,143,144,145,146,147,148,149,150
0,1.0000000e+00,-1.1250133e+00,-1.1313383e+00,-1.1382884e+00,-1.1466873e+00,-1.1386387e+00,-1.1414312e+00,-1.1436908e+00,-1.1443789e+00,-1.1549123e+00,...,-1.2055721e+00,-1.2812350e+00,-1.3234204e+00,-1.3457996e+00,-1.3445471e+00,-1.3010980e+00,-1.2659029e+00,-1.2127167e+00,-1.2061778e+00,-1.2184217e+00
1,2.0000000e+00,-6.2695602e-01,-6.2591896e-01,-6.2753797e-01,-6.2632624e-01,-6.2408545e-01,-6.2470754e-01,-6.2500642e-01,-6.2417532e-01,-6.2401803e-01,...,-6.2001948e-01,-6.2150481e-01,-6.2152598e-01,-6.2409104e-01,-6.2398853e-01,-6.2434988e-01,-6.2437622e-01,-6.1947093e-01,-6.1205789e-01,-6.0642232e-01
2,2.0000000e+00,-2.0011630e+00,-1.9995755e+00,-1.9995372e+00,-1.9991963e+00,-1.9990038e+00,-2.0003147e+00,-1.9984249e+00,-2.0006789e+00,-1.9999948e+00,...,3.1279799e-01,2.4221679e-01,1.4571625e-01,1.4012286e-02,-1.5178029e-01,-3.3342703e-01,-5.7743491e-01,-8.1271961e-01,-1.0711473e+00,-1.3233828e+00
3,1.0000000e+00,-1.0045865e+00,-9.9984343e-01,-9.9524996e-01,-9.9201889e-01,-9.9119984e-01,-9.8755556e-01,-9.9647321e-01,-9.9687789e-01,-9.9867287e-01,...,-1.0802448e+00,-1.0601662e+00,-1.0444708e+00,-1.0395276e+00,-1.0406935e+00,-1.0441623e+00,-1.0440583e+00,-1.0449158e+00,-1.0442265e+00,-1.0432617e+00
4,1.0000000e+00,-7.4262544e-01,-7.4377019e-01,-7.4390038e-01,-7.4487322e-01,-7.4474502e-01,-7.4536434e-01,-7.4707751e-01,-7.4661487e-01,-7.4670521e-01,...,-6.9931224e-01,-6.9689702e-01,-6.9405923e-01,-6.8915025e-01,-6.8753430e-01,-6.8279776e-01,-6.8215267e-01,-6.8102951e-01,-6.7051942e-01,-6.5740270e-01

In [9]:
type(df[0][0])

str

In [13]:
# class(정답) 컬럼을 분리하고 일단 그래프 그리기
df[0].head()

0    1.0000000e+00
1    2.0000000e+00
2    2.0000000e+00
3    1.0000000e+00
4    1.0000000e+00
Name: 0, dtype: object